@import "tailwindcss";

:root {  
  --background: #DFD0B8;
  --foreground: #222831;
  --primary: #393E46;
  --primary-light: #948979;
  --accent: #948979;
  --card-bg: #EDE4D6;
  --border: #948979;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-accent: var(--accent);
  --color-card-bg: var(--card-bg);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #222831;
  --foreground: #dad1c1;
  --primary: #948979;
  --primary-light: #F0E6D3;
  --accent: #ccbca5;
  --card-bg: #393E46;
  --border: #393E46;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
